
body{
  background-color: white;
  /*background-color: rgb(49, 50, 53);*/
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

}
.title{
  font-size: 70px;
  padding: none;
  color: rgb(49, 50, 53);
  
}
.wrapper{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.canvas{
  box-shadow: 0px 0px 20px 10px lightgray;
}

.controls{
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 50, 53);
  align-items: center;
  border-radius: 25px;
  justify-content: space-between;

}
.canvas{
display: flex;
flex-direction: column;
justify-content: center;
height: 500px;
width: 500px;

}
.row{
  display: flex;
  width: 100%;
  height: 100%;
}
.cells{
  margin: 0;
  background-color: white;
  border: 1px ;
  font-size: 30px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.reset{
  margin: 20px;
  width: 100px;
  height: 50px;
  text-align: center;
}
#color{
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 20px;
}
#sizerange{
  margin: 20px;
}

.footer{
  font-size: 20px;
  color: rgb(49, 50, 53);
  justify-self: center;
  text-align: center;
  margin-top: 20px;
}